@{
    ViewData["Title"] = "Home Page";
}

@{
    string nombre = "Arrate";

}

<div class="text-center">
@{ 
    for (int i = 0; i < 11; i++)
    {
        <p>@i</p>
        
    }
}
   
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
